body {
    background-color: black;
}
#cabecera {
    position: sticky;
    color: white;
    font-family: herculanum, fantasy;
    font-weight: bold;
    text-align:center;
    margin-top: 30px;
    margin-bottom: 80px;
    background-color: black;
}

#cabecera #logo {
    width: 50px;
    float:left;
}

.button {
    position: relative;
    padding: 16px 30px;
    font-size:1rem;
    color:#ff1867;
    background-color: transparent;
    border-style: hidden;
    border-radius:4px;
    text-shadow: 0 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
}

.button:hover{
    color: #fff;
    border: 2px solid rgba (0, 0, 0, 0);
    box-shadow: 0 0 0px #ff1867;
}

.button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background:#ff1867;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s;
}

.button:hover::before {
transform: scale(1);
transition-delay: 0.3s;
box-shadow: 0 0 10px #ff1867,
0 0 30px #ff1867,
0 0 60px #ff1867;
}

#cuerpo{
    color:white;
}
