body {
    background-color: black;
}
#cabecera {
    color: white;
    font-family: fantasy;
    font-weight: bold;
    text-align:center;
}

#cabecera #logo {
    width: 30px;
    vertical-align: left;
    align-content: left;
}

button {
    color: rgb(213, 247, 247);
    background-color: black;
    border: none;
    display:inline-block;
    padding: 3em;
}

#cuerpo{
    color:white;
}