body {
    background-color: black;
}
#cabecera {
    color: white;
    font-family: fantasy;
    font-weight: bold;
    text-align:center;
}

#cabecera #logo{
    width: 30px;
    vertical-align: left;
    align-content: left;
}