body {
    background-color: black;
}
#cabecera {
    position: sticky;
    top: 0;
    color: #faeff3;
    font-family: herculanum, fantasy;
    font-weight: bold;
    text-align:center;
    margin-top: 30px;
    margin-bottom: 80px;
    background-color: black;
}

#cabecera #logo {
    width: 50px;
    float:left;
}

.button {
    position: relative;
    padding: 16px 30px;
    font-size:1rem;
    color:#ff1867;
    background-color: transparent;
    border-style: hidden;
    border-radius:4px;
    text-shadow: 0 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
}

.button:hover{
    color: #faeff3;
    border: 2px solid rgba (0, 0, 0, 0);
    box-shadow: 0 0 0px #ff1867;
}

.button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background:#ff1867;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s;
}

.button:hover::before {
transform: scale(1);
transition-delay: 0.3s;
box-shadow: 0 0 10px #ff1867,
0 0 30px #ff1867,
0 0 60px #ff1867;
}

#cuerpo{
    color:#faeff3;
    font-family:"didot";
    margin:  70px;

}

#cuerpo #home{
    margin-bottom: 180px;
    margin-top: 120px;
}
#cuerpo #home h1{
    color:#faeff3;
    font-size: 10rem;
    margin-bottom: 30px;
    font-family: "didone";
    text-shadow:0 13px 10px #ff1867;
}
#cuerpo #home p{
    margin-bottom: 8px;
    float: center;
}
#cuerpo #aboutt{
    margin-bottom: 250px;
    margin-top: 250px;
}
#cuerpo #aboutt #abouttext{
    width: 60%;
    float: right;
    background-color: rgb(255, 24, 105, 1);
    vertical-align: center;
}
#cuerpo #aboutt p{
    margin: 45px;
}
#cuerpo #aboutt #arbol{
    width: 40%;
}
#cuerpo #proyectos #cajaproyectos{
    margin: 3%;
    margin-bottom: 250px;
}
#cuerpo #proyectos img{
    margin:3%;
    margin-top: 3%;
    box-shadow: 20px  30px 30px  #ff1867;
}
#cuerpo #proyectos img:hover{
    box-shadow: 20px 30px 30px #faeff3;
}
.container{
    display: block;
    border: 8px solid #ff1867;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0 0 10px 10px;
    max-width: 500px;
}
.container:hover{
    border: 8px solid #faeff3;
}
input textarea{
    width: 100%;
    border: 5px solid #ff1867;
    border-radius: 4px;
    resize: vertical;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
}
form{
    padding: 10px 10px 0 0;
}
.mensaje{
    margin-top: 50px;
    margin-bottom: 30px;
}